#ASSIGNMENT - 1

In [6]:
import json

In [7]:
# Task 1: 

employee_data = [
    {
        "Name": "Reshma Neelofer",
        "DOB": "1990-01-19",
        "Height": 175,
        "City": "Hyderabad",
        "State": "Telangana"
    },
    {
        "Name": "Keerthi",
        "DOB": "1993-10-18",
        "Height": 180,
        "City": "Delhi",
        "State": "Delhi"
    },
    {
        "Name": "Prasanna",
        "DOB": "1995-03-24",
        "Height": 163,
        "City": "Bangalore",
        "State": "Karnataka"
    },
    {
        "Name": "Jamini",
        "DOB": "1999-10-24",
        "Height": 168,
        "City": "Vijayawada",
        "State": "Andhra Pradesh"
    },
    {
        "Name": "Yaswanthi",
        "DOB": "1994-07-21",
        "Height": 170,
        "City": "Kolkata",
        "State": "West Bengal"
    }
]

# Write employee data to a JSON file
with open("employee.json", "w") as file:
    json.dump(employee_data, file)


# Printing the list of Employee objects from the JSON file
with open("employee.json", "r") as file:
    employee_data = json.load(file)

class Employee:
    def __init__(self, name, dob, height, city, state):
        self.name = name
        self.dob = dob
        self.height = height
        self.city = city
        self.state = state

# Creating a list of Employee objects
employees = []
for emp_info in employee_data:
    employee = Employee(emp_info["Name"], emp_info["DOB"], emp_info["Height"], emp_info["City"], emp_info["State"])
    employees.append(employee)


for employee in employees:
    
    print(f"Name: {employee.name}")
    print(f"DOB: {employee.dob}")
    print(f"Height: {employee.height}")
    print(f"City: {employee.city}")
    print(f"State: {employee.state}")
    print()

Name: Reshma Neelofer
DOB: 1990-01-19
Height: 175
City: Hyderabad
State: Telangana

Name: Keerthi
DOB: 1993-10-18
Height: 180
City: Delhi
State: Delhi

Name: Prasanna
DOB: 1995-03-24
Height: 163
City: Bangalore
State: Karnataka

Name: Jamini
DOB: 1999-10-24
Height: 168
City: Vijayawada
State: Andhra Pradesh

Name: Yaswanthi
DOB: 1994-07-21
Height: 170
City: Kolkata
State: West Bengal

In [8]:
# Task -2

indian_states = {
    "Andhra Pradesh": "Amaravati",
    "Telangana": "Hyderabad",
    "Tamil Nadu": "Chennai",
    "Karnataka": "Bengaluru",
    "Maharastra": "Mumbai",
    "Kerala": "Thiruvananthapuram",
    "Rajasthan": "Jaipur"
}


# Write the Indian states dictionary to a JSON file
with open('indian_states.json', 'w') as file:
    json.dump(indian_states, file)

#ASSIGNMENT - 2

In [8]:
class Dog:
    def __init__(self, name, age, coat_color):
        self.name = name
        self.age = age
        self.coat_color = coat_color

    def description(self):
        print(f"{self.name} is {self.age} years old.")

    def get_info(self):
        print(f"{self.name}'s coat color is {self.coat_color}.")
        

class JackRussellTerrier(Dog):
    def __init__(self, name, age, coat_color, favorite_activity):
        super().__init__(name, age, coat_color)
        self.favorite_activity = favorite_activity

    def play(self):
        print(f"{self.name} loves to play {self.favorite_activity}.")
        
    def bark(self):
        print(f"{self.name} barks loudly!")


class Bulldog(Dog):
    def __init__(self, name, age, coat_color, weight):
        super().__init__(name, age, coat_color)
        self.weight = weight
        
    def eat(self):
        print(f"{self.name} enjoys eating and weighs {self.weight} pounds.")
        
    def snore(self):
        print(f"{self.name} snores loudly while sleeping.")


# Create objects and demonstrate the functionalities
dog1 = JackRussellTerrier("Buddy", 3, "White and Brown", "tennis ball")
dog2 = Bulldog("Max", 5, "Fawn", 60)

In [9]:
dog1.description()
dog1.get_info()

Buddy is 3 years old.
Buddy's coat color is White and Brown.

In [10]:
dog2.description()
dog2.get_info()

Max is 5 years old.
Max's coat color is Fawn.

In [11]:
dog1.play()
dog1.bark()

Buddy loves to play tennis ball.
Buddy barks loudly!

In [12]:
dog2.eat()
dog2.snore()

Max enjoys eating and weighs 60 pounds.
Max snores loudly while sleeping.